.tableData {
    border-bottom: 2px solid #ddd;
    padding: 8px;
    text-align: left;
    background: #FCFCFC;
  }

  .tableDataRow:hover {
    transform: scale(1.025);
  }

  .tableRowIconStyle {
    padding: 0 3px;
  }



  